<div class="profile-sidebar menu-portfolio-item">
  <div data-provides="fileinput" class="fileinput fileinput-new">
    <div data-trigger="fileinput" class="fileinput-preview thumbnail
      img-circle img-responsive">
      <%= image_tag user.avatar.thumb.url, id: "avatar" %>
      <div class="action-button">
        <%= form_for user, url: user_registration_path, multipart: true,
          remote: true, method: :patch do |f| %>
          <% if user.errors.any? %>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
          <span class="btn btn-default btn-raised btn-file ripple-effect">
            <span class="fileinput-new">
              <i class="fa fa-picture-o"></i></span>
            <span class="fileinput-exists">
              <i class="material-icons md-light pmd-xs">mode_edit</i></span>
            <%= f.file_field :avatar, class: "upload-avatar" %>
          </span>
        <% end %>
        <a data-dismiss="fileinput" class="btn btn-default btn-raised btn-file
          ripple-effect fileinput-exists" href="javascript:void(0);">
          <i class="material-icons md-light pmd-xs">close</i>
        </a>
      </div>
    </div>
  </div>
  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active"  >
        <%= link_to user_path(user, type: "info"), "data-turbolinks": false do %>
        <i class="fa fa-user-circle"></i>
          <%= t("user.edit.menu_item.information") %></li>
        <% end %>
      <li class="filter">
        <a>
          <i class="fa fa-yelp" aria-hidden="true"></i>
          <%= t "user.edit.menu_item.reviews" %>
        </a>
      </li>
      <li class="filter" data-trigger=".fav-movie-part">
        <%= link_to user_path(user, type: "favorite_movie"), remote: true,
        "data-turbolinks":"false" do %>
        <i class="fa fa-film"></i>
          <%= t("user.edit.menu_item.favorite_movies")%>
        <% end %>
      </li>
      <li class="filter" data-trigger=".fav-actor-part">
        <%= link_to user_path(user, type: "favorite_actor"), remote: true,
        "data-turbolinks":"false" do %>
        <i class="fa fa-grav"></i>
          <%= t("user.edit.menu_item.favorite_actors")%>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>
