<div class="single_page">
  <div class="movie_header col-lg-12 col-md-12 col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="section-title" id="services">
        <div class="pro">
          <%= t("actor.action.add_actor") %>
        </div>
      </h1>
      <%= form_for actor do |f| %>
        <%= render "shared/error_messages", object: actor %>
        <div class="form-group">
          <%= f.label t("actor.name") %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label t("actor.birth_day") %>
          <br>
          <div class="form-select-time">
            <%= f.date_select :date_of_birth, class: "form-control", start_year: 1950 %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label t("actor.avatar") %>
          <%= f.text_field :avatar, class: "form-control" %>
        </div>
        <div align = "center">
          <%= f.submit t("actor.action.add_button"), class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
