<div class="row">
  <div class="col-sm-12">
    <h2 class="text-uppercase"><%= t "explorer.index.genres" %>
      <%= link_to t("explorer.index.see_all"), actors_path,
        class: "pull-right text-capitalize" %>
    </h2>
  </div>
  <div class="col-sm-12 side-menu">
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <% genres.each do |genre| %>
            <li>
              <%= link_to actors_path, "data-turbolinks": false do %>
                <%= genre.name %>
                <span class="badge"><%= genre.actors.uniq.size %></span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br><br>
