<% provide :title, t("actors.index.all_actor") %>

<div class="container-fluid header-block">
  <h1 class="text-capitalize">
    <%= t "actors.index.all_actor" %>
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "actors/slide_bar_actor", genres: @genres %>
    </div>
    <div class="col-sm-9 tab-style-1-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="row genre-header">
            <div class="col-sm-9">
              <h2><%= t "genres.show.collection" %></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% @actors.each do |actor| %>
          <%= render "actors/actor", actor: actor %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <hr>
          <%= will_paginate @actors, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>
