<aside class="right_content">
  <div class="movie_title">
    <%= movie.name %>
    <% if current_user %>
      <div class="favorite-icon">
        <%= render "favorite_movies/favorite_form", movie: movie, favorite: favorite %>
      </div>
    <% end %>
  </div>

  <% if movie.genres %>
    <p class="movie-info-row">
      <span><%= t "movies.show.genres" %></span>
      <% movie.genres.all.each do |genre| %>
        <% if genre.name != movie.genres.all.last.name %>
          <%= link_to genre.name, genre %>,
        <% else %>
          <%= link_to genre.name, genre %>.
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if movie.categories %>
    <p class="movie-info-row">
      <span><%= t "movies.show.categories" %></span>
      <% movie.categories.all.each do |category| %>
        <% if category.name != movie.categories.all.last.name %>
          <%= link_to category.name, category %>,
        <% else %>
          <%= link_to category.name, category %>.
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if movie.actors %>
    <p class="movie-info-row">
      <span><%= t "movies.show.actors" %></span>
      <% movie.actors.all.each do |actor| %>
        <% if actor.name != movie.actors.all.last.name %>
          <%= link_to actor.name, actor %>,
        <% else %>
          <%= link_to actor.name, actor %>.
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if movie.episodes %>
    <p class="movie-info-row">
      <span><%= t "movies.show.episodes" %></span>
      <%= movie.episodes %>
    </p>
  <% end %>

  <% if movie.status %>
    <p class="movie-info-row">
      <span><%= t "movies.show.status" %></span>
      <%= movie.status %>
    </p>
  <% end %>

  <div class="movie-rate">
    <p class="rate-title"><%= t "movies.show.rate" %></p>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 movie-rate-left">
      <h1><%= @movie.avarage_rate %></h1>
      <div class="movie-sum-review">
        <i class="fa fa-user" aria-hidden="true"></i>
        <%= t "movies.show.rate_sum" %>
        <span><%= @movie.reviews.size %></span>
      </div>
    </div>

    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 movie-rate-right">
      <ul>
        <li>
          <i class="fa fa-star" aria-hidden="true">5</i>
          <div class="bar bar-5">
            <span><%= @movie.rate_five.size %></span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="fa fa-star" aria-hidden="true">4</i>
          <div class="bar bar-4">
            <span><%= @movie.rate_four.size %></span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="fa fa-star" aria-hidden="true">3</i>
          <div class="bar bar-3">
            <span><%= @movie.rate_three.size %></span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="fa fa-star" aria-hidden="true">2</i>
          <div class="bar bar-2">
            <span><%= @movie.rate_two.size %></span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="fa fa-star" aria-hidden="true">1</i>
          <div class="bar bar-1">
            <span><%= @movie.rate_one.size %></span>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>

  <p class="movie-info-row">
    <% if current_user %>
      <%= link_to t("movies.show.add_review"), new_movie_review_path(movie), class: "btn btn-danger" %>
    <% end %>
  </p>
</aside>
