<div class="single_page">
  <ol class="breadcrumb align-top">
    <li><%= link_to('Home', root_path) %></li>
    <li class="active"><%= @movie.name %></li>
  </ol>
  <div class="movie_header col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <%= render "movie_header_left", movie: @movie %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <%= render "movie_header_right", movie: @movie, favorite: @favorite %>
    </div>
    <%= render "movie_sumary", movie: @movie %>
    <%= render "movie_review", movie: @movie %>
    <div class="modal-suggest-result"></div>
  </div>
</div>
<% if current_user %>
  <%= render "suggest_movies/form",
    movie: @movie, suggest_movie: @suggest_movie, users: @users %>
<% end %>
