<div class="new-image">
  <div class="row">
    <div class="col-md-3">
      <div class="left_content movie-pic">
        <%= link_to image_tag(movie.poster), "#" %>
      </div>
    </div>
    <div class="col-md-6-offset-1">
      <div class="movie-title">
        <%= movie.name %>
      </div>
      <div class="user-avatar-too-small">
        <% if user.avatar != nil %>
          <%= link_to image_tag(user.avatar), "#" %>
        <% else %>
          <%= link_to image_tag("avatar.png"), "#" %>
        <% end %>
         - <%= link_to user.name, "#" %>
      </div>
      <div class="catelogy-review">
        <i class="fa fa-tags"></i>
        <% movie_genre = MovieGenre.find_by movie_id: movie.id %>
        <% genre = Genre.find_by id: movie_genre.genre_id %>
        Genre: <%= genre.name %>
      </div>
      <div class="catelogy-review">
        <i class="fa fa-industry"></i>
        Rating:
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10">
      <div clas="content-review">
        <%= review.content %>
      </div>
    </div>
  </div>
  <br>
  <div class="panel-footer follow_bgr">
    <div class="btn-group">
      <div class="col-md-5">
        <%= render "star"%>
      </div>
      <div class="col-md-2">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
      </div>
      <div class="col-md-2">
        <i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike
      </div>
      <span class="reviews-comments">
        <%= image_tag "comment.png", class: "reviews-comment-icon" %>
        <span id="comment-size-<%= review.id %>">
          <%= review.main_comments.size %>
        </span>
        <%= t "review_action.comment" %>
      </span>
    </div>
  </div>

  <div class="review-comment-form">
    <%= form_for [review, Comment.new], remote: true do |f| %>
      <%= image_tag avatar_profile(current_user),
        class: "img-responsive img-avatar-comment" %>
      <%= f.text_field :content, placeholder: t("comment.write"),
        class: "form-control comment-form-content",
        id: "review-comment-form-content-#{review.id}" %>
    <% end %>
    <hr>
  </div>

  <div class="reviews-comments" id="reviews-comments-<%= review.id %>">
    <% review_comments = review.main_comments.offset(0)
      .limit Settings.load_more_comment_size %>
    <% review_comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
      <%= render "comments/edit_form", review: review, comment: comment %>
    <% end %>
  </div>
  <div id="load-more-review-comments-<%= review.id %>">
    <% unless review_comments.empty? %>
      <%= link_to t("comment.load_more"), review_comments_path(review,
        comment_offset: review_comments.last.id), remote: true %>
    <% end %>
  </div>
</div>
