<ul>
  <%= link_to user do %>
    <li title="<%= current_user.name %>" class="followed-users">
      <div class="avatar-news-feed-left">
        <% if current_user.avatar != nil %>
          <% link_to image_tag(current_user.avatar), "#" %>
        <% else %>
          <% link_to image_tag("avatar.png"), "#" %>
        <% end %>
      </div>
      <span>
        <%= truncate user.name, length: 20 %>
        <br>
        <%= link_to "#", class: "btn btn-xs start-conversation msg-btn",
          "data-sid" => current_user.id, "data-rip" => user.id  do%>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <%= t "message" %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
<br>
