<div class="container">
  <div class="col-sm-9 tab-style-1-content show-result">
    <div class="result-movies active">
      <h4 class="tab-title"><%= t "searches.movies" %></h4>
    </div>
    <div class="result-actors">
      <h4 class="tab-title"><%= t "searches.actors" %></h4>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="row result-movies-list">
        <% results["movies"].each do |movie| %>
          <%= render "genres/movie", movie: movie %>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <div class="row result-actors-list">
        <% results["actors"].each do |actor| %>
          <%= render "genres/actor", actor: actor %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-sm-3 news-feed-right">
    <%= render "pages/right_news_feed", top_movies: top_movies,
    recent_movies: recent_movies %>
  </div>
</div>
