<div class="comments">
  <div class="comments-header">
    <span class="comments-header-content">
      <span class="comments-review">
        <%= link_to comment.user do %>
          <%= image_tag avatar_profile(comment.user), class: "img-responsive
            comments-header-avatar avatar-reply-comment" %>
        <% end %>
      </span>

      <div class="comments-header-info">
        <h6><%= link_to comment.user.name, comment.user %></h6>
        <span><%= user_reply_comment comment %>
          <% if comment.content.length > Settings.length_comment %>
            <span><%= comment.content[0...Settings.length_comment] %></span>
            <span class="complete">
              <%= comment.content[
                Settings.length_comment..comment.content.length] %>
            </span>
            <span class="load-more"><%= t "load_more" %></span>
          <% else %>
            <span><%= comment.content %></span>
          <% end %>
        </span>
        <div>
          <% if current_user.current_user? comment.user %>
            <span class="comment-btn-action">
              <%= link_to t("comment.delete"), comment_reply_comment_path(
                comment.reply || comment.parent,
                comment), method: :delete, remote: true,
                data:{confirm: t("comment.sure")} %>
            </span>
            <span>-</span>
            <span class="comment-btn-action comment-edit-btn"
              id="<%= comment.id %>">
              <%= t "comment.edit" %>
            </span>
            <span>-</span>
          <% end %>
          <span class="reply-comments">
            <%= link_to t("review_action.reply_comment"), new_comment_reply_comment_path(comment,
              parent_id: comment.parent.id), remote: true %>
          </span>
          <span>
            <%= time_ago_in_words comment.created_at %>
          </span>
        </div>
      </div>
    </span>
  </div>
</div>
