<div tabindex="-1" class="modal fade" id="suggest-movie-success-modal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <div class="media-body media-middle">
          <h3 class="pmd-card-title-text text-center h2-text">
          <%= t "movies.suggest_movie.success_title" %></h3>
        </div>
      </div>
      <div class="pmd-modal-media row">
        <img class="col-sm-5 col-sm-offset-1 modal-movie-img" height="350px"
          src="<%= supports.load_movie.poster %>">
        <div class="col-sm-5 modal-borrow-info">
          <h3><%= supports.load_movie.name %></h3>
          <h4><%= t "movies.suggest_movie.sender" %><%= current_user.name %></h4>
          <h4>
            <%= t "movies.suggest_movie.receiver" %>
            <% supports.load_users.each do |user| %>
              <%= user.name %>
              <%= t "movies.suggest_movie.semicolon" %>
            <% end %>
          </h4>
          <h4>
            <%= t "movies.suggest_movie.message" %>
            <%= supports.load_suggest_movies.last.content %>
          </h4>
          <p class="message"><%= t "movies.suggest_movie.thanks" %></p>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
