<div class="new-image ta8">
  <div class="row">
    <div class="col-md-2 cancel-button">
      <div class="left_content movie-pic">
        <%= link_to image_tag(movie.poster), movie_path(movie) %>
      </div>
    </div>
    <div class="col-md-3-offset-1">
      <div class="movie-title">
        <%= link_to movie.name, movie_path(movie) %>
      </div>
      <hr class="style4">
      <div class="user-avatar-too-small">
        <% if user.avatar != nil %>
          <%= link_to image_tag(user.avatar), "#" %>
        <% else %>
          <%= link_to image_tag("avatar.png"), "#" %>
        <% end %>&nbsp;
        <%= link_to user.name, user_path(user) %>
      </div>
      <hr class="style4">
      <div class="category-review">
        <i class="fa fa-tags"></i>&nbsp;
        <% movie_genre = MovieGenre.find_by movie_id: movie.id %>
        <% genre = Genre.find_by id: movie_genre.genre_id %>
        <%= t "review_label.genre" %>
        <%= link_to genre.name, genre_path(genre) %>
      </div>
      <hr class="style4">
      <div class="star">
        <% (1..review.point).each do |index| %>
          <i class="fa fa-star"></i>
        <% end %>
      </div>
      <hr class="style4">
    </div>
    <% if (current_user) %>
      <% if (current_user.id == review.user_id) %>
      <div class="row">
        <div class="col-md-4 col-md-offset-10">
          <%= link_to 'Edit', edit_review_path(review), remote: true,
            :class => 'btn btn-sm btn-info del_edit' %>
          <%= link_to 'Delete', review, remote: true, :method => :delete, data:
            {confirm: t("movies.review.sure")},
            :class => 'btn btn-sm btn-danger del_edit' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10">
      <div clas="content-review">
        <%= review.content %>
      </div>
    </div>
  </div>
  <br>
  <div class="panel-footer follow_bgr">
    <div class="btn-group">
      <div class="review-action">
        <%= render "activities/activity_form", review: review,
        activity: review.activity_by_user(current_user) %>
      </div>
      <span class="reviews-comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span id="comment-size-<%= review.id %>">
          <%= review.main_comments.size %>
        </span>
        <%= t "review_action.comment" %>
      </span>
    </div>
  </div>

  <% if (current_user) %>
    <div class="review-comment-form">
      <%= form_for [review, Comment.new], remote: true do |f| %>
        <%= image_tag avatar_profile(current_user),
          class: "img-responsive img-avatar-comment" %>
        <%= f.text_field :content, placeholder: t("comment.write"),
          class: "form-control comment-form-content",
          id: "review-comment-form-content-#{review.id}" %>
      <% end %>
      <hr>
    </div>

    <div class="reviews-comments" id="reviews-comments-<%= review.id %>">
      <% review_comments = review.main_comments.offset(0)
        .limit Settings.load_more_comment_size %>
      <% review_comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
        <%= render "comments/edit_form", review: review, comment: comment %>
      <% end %>
    </div>
    <div id="load-more-review-comments-<%= review.id %>">
      <% unless review_comments.empty? %>
        <%= link_to t("comment.load_more"), review_comments_path(review,
          comment_offset: review_comments.last.id), remote: true %>
      <% end %>
    </div>
  <% else %>
    <br>
    <p class="bg-danger"><%= t("movies.review.login_require") %></p>
  <% end %>
</div>
