<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">ANBU チーム</div>
        <p>ベトナム理工系トップクラスのハノイ工科大学をはじめ、ハノイ国家大学、ダナン工科大学にて
          選抜した学生たちにRubyの寄附講座を実施中。ベトナムのRubyエンジニアコミュニテ
          ィ活動を支援しています。</p>
        <p><i class="fa fa-map-pin"></i>1 Đại Cồ Việt, Lê Đại Hành, Hà Nội</p>
        <p><i class="fa fa-phone"></i> Phone (VN) :  +84-4-3795-5417 </p>
        <p><i class="fa fa-envelope"></i> E-mail : info@anbu.com</p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook"
          data-tabs="timeline" data-height="300" data-small-header="false"
          style="margin-bottom:15px;" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook">
              <a href="https://www.facebook.com/facebook">Facebook</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p><%= t "team.name" %> &copy 2017
        . <%= t "layouts.footer.copyright" %>. </p>
    </div>
    <div class="col-md-6">
      <ul class="bottom-ul">
        <li><a href="#"><%= t "layouts.footer.about_us" %></a></li>
        <li><a href="#"><%= t "layouts.footer.blog" %></a></li>
        <li><a href="#"><%= t "layouts.footer.faq" %></a></li>
        <li><a href="#"><%= t "layouts.footer.contact_us" %></a></li>
        <li><a href="#"><%= t "layouts.footer.sitemap" %></a></li>
        <li><%= link_to rails_admin_path do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <%= t "layouts.footer.admin" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
