<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="container">
    <div class="logo">
      <%= link_to t("app_title"), root_path %>
    </div>
    <div class="a-search">
      <%= link_to t("a-search.title"), new_search_path %>
    </div>
    <div class="header-search col-md-4">
      <%= form_tag searches_path, method: :get, class: "form-search" do %>
        <span>
          <%= text_field_tag :search, params[:search], autocomplete: :off,
            placeholder: t("search"), class: "form-control movies-search",
            id: "movies-search" %>
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      <% end %>
      <span class="search-results">
        <ul class="results">
        </ul>
      </span>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="home">
            <%= link_to t("pages.home"), root_path %>
          </div>
        </li>
        <% if user_signed_in? %>
          <div class="dropdown" title="<%= t "tooltip.genres" %>">
            <%= link_to genres_path do %>
              <i class="fa fa-film " aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
        &nbsp;
        <% if user_signed_in? %>
          <div class="dropdown" title="<%= t "tooltip.messages" %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-comment-o"></i></a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
              <div class="notification-heading">
                <h4 class="menu-title"><%= t "message" %></h4>
                <h4 class="menu-title pull-right"><%= t "all_message" %>
                  <i class="glyphicon glyphicon-circle-arrow-right"></i>
                </h4>
              </div>
              <li class="divider"></li>
              <div class="notifications-wrapper">
                <%= render "layouts/message", conversations: @conversations %>
              </div>
              <li class="divider"></li>
              <div class="notification-footer"><h4 class="menu-title"><%= t "all_message" %>
                <i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
            </ul>
          </div>
          &nbsp;
          <div class="w3-hide-small ltt-notification-icon"
            title="<%= t "tooltip.notifications" %>">
            <div class="w3-padding-large w3-hover-white">
              <i class="fa fa-globe">
                <div class="ltt-notification-count">
                  <%= current_user.new_notification %>
                </div>
              </i>
            </div>
            <div class="ltt-notifications">
              <ul class="ltt-noti-list">
                <% @notifications.each do |notification| %>
                  <li class="ltt-notification notification-<%= notification.id %>
                    <%= notification.read %>-notification">
                    <%= link_to notification.review do %>
                      <span class="col-md-2 col-lg-2">
                      <div class="ltt-notification-avatar">
                        <%= image_tag notification.movie.poster, id: "avatar-#{notification.id}",
                          class: "ltt-avatar" %>
                        <div class="clearfix"></div>
                      </div>
                      </span>
                      <span class="col-md-10 col-lg-10 ltt-notification-content">
                        <span>
                          <%= notification_content notification %>
                        </span>
                        <div>
                          <%= time_ago_in_words notification.created_at %>
                        </div>
                        <div class="clearfix"></div>
                      </span>
                      <div class="clearfix"></div>
                    <% end %>
                  </li>
                <% end %>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <div class="dropbtn drop-text">
              <%= current_user.name.truncate(Settings.length_name) %>
            </div>
            <div class="dropdown-content">
            <%= link_to t("profile"), current_user,
              "data-turbolinks":"false", class: "pmd-ripple-effect" %>
            <%= link_to t("log-out"), destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <li>
            <div class="sign-in">
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <%= t "log-in" %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
