<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="flash" align="right">
      <%= render "layouts/flash" %>
    </div>
    <div><%= yield %></div>
    <%= render "layouts/footer" %>
    <script>
      $(document).ready(function(){
        $(".dropdown-toggle").dropdown();
      });
    </script>
    <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
  </body>
</html>
